@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to our Scripture Journal, where you can explore and 
     reflect upon the sacred words that inspire and guide you on your spiritual journey.</p>
</div>
